/* Write your CSS code here */
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  min-width: 500px;
  border-bottom: 1.5px solid grey;
}

.post-details {
  display: flex;
  flex-direction: column;
}
